{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}QasQus Board{% endblock %}

{% block body %}

    {% if form %}
    <div class="container">
        <p class="lead text-center">QasQus Message Form</p>
        <form action="{% url 'board:confirm' index=1 %}" method="post">
            {% csrf_token %}

            {{form|crispy}}

            <input id="submit" class="btn btn-outline-success btn-block" type="submit" value="Submit">
        </form>
    </div>
    {% endif %}

    {% if bucket %}
    <div class="container" style="background: #ddffdd">
        <p class="lead">Confirm your message!</p>
        <dl class="row">

            <dt class="col-sm-6">Author</dt>
            <dd class="col-sm-6">{{bucket.name}}</dd>

            <dt class="col-sm-6">Message</dt>
            <dd class="col-sm-6">{{bucket.text}}</dd>

        </dl>
        <br>
    </div>

    <div class="row d-flex justify-content-center">
        <form action="{% url 'board:index'%}" method="GET" class="form-group">
            {% csrf_token %}
            <input  type="submit" class="btn btn-outline-danger" id="cancel" value="CANCEL">
        </form>

        <form action="{% url 'board:confirm' index=2 %}" method="POST" class="form-group">
            {% csrf_token %}
            <input type="hidden" name="name" id="form_name" value="{{bucket.name}}">
            <input type="hidden" name="text" id="form_message" value="{{bucket.text}}">
            <input  type="submit" class="btn btn-outline-success" id="confirm" value="CONFIRM">
        </form>
    </div>

{% endif %}

    <div class="container" style="padding-top: 20px">
        <div class="container" id="board">
            {% for mess in msg %}
                <div class="container" id="message">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">{{mess.text}}</p>
                        <footer class="blockquote-footer">{{mess.name}}</footer>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}