{% extends 'base.html' %}
{% load static %}

{% block title %}QasQus Accord{% endblock %}

{% block style %}
<style>
    .item-wrap {
        max-width: 500px;
        margin: 3rem auto 3rem auto;
    }

    .item-wrap .item .header{
        line-height: 2.5rem;
        cursor: pointer;
        padding: 0 3rem 0 1rem;
        text-align: left;
        border-bottom: 2px solid grey;
    }

    .item-wrap .item:last-child .header{
        border-bottom: none;
    }

    .item-wrap .item:first-child .header{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .item-wrap .item:last-child .header{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .item-wrap .item .body{
        height: 0px;
        transition: all 0.5s ease;
        text-align: left;
        overflow: hidden;
    }

    .item-wrap .item .body p{
        padding: 1rem;
    }

    .item-wrap .item .header.active{
        border-bottom: 2px solid black;
    }

    .item-wrap .item .header.active + .body{
        height: 180px;
        transition: all 0.5s ease;
    }

    .item-wrap .item:last-child .header.active{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .item-wrap .item:last-child .body{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .comicFont{
        font-family: "Comic Sans MS",sans-serif;
    }

    .changeColor{
        background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi0.kym-cdn.com%2Fentries%2Ficons%2Fmobile%2F000%2F022%2F940%2Fmockingspongebobbb.jpg&f=1&nofb=1);
    }
</style>
{% endblock %}

{% block body %}
<div class="text-center accord">
    <div class="item-wrap">
        <div class="item a1">
            <div class="header">
                <div class="float-right">
                    <i class="move-up">Up</i>
                    <i class="move-down">Down</i>
                </div>
                <div class="title">Aktiviti 1</div>
            </div>
            <div class="body">
                <p>Lorem Ipsum</p>
            </div>
        </div>

        <div class="item a2">
            <div class="header">
                <div class="float-right">
                    <i class="move-up">Up</i>
                    <i class="move-down">Down</i>
                </div>
                <div class="title">Aktiviti 2</div>
            </div>
            <div class="body">
                <p>Lorem Ipsum</p>
            </div>
        </div>

        <div class="item a3">
            <div class="header">
                <div class="float-right">
                    <i class="move-up">Up</i>
                    <i class="move-down">Down</i>
                </div>
                <div class="title">Aktiviti 3</div>
            </div>
            <div class="body">
                <p>Lorem Ipsum</p>
            </div>
        </div>

        <div class="item a4">
            <div class="header">
                <div class="float-right">
                    <i class="move-up">Up</i>
                    <i class="move-down">Down</i>
                </div>
                <div class="title">Aktiviti 4</div>
            </div>
            <div class="body">
                <p>Lorem Ipsum</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <button id="colorChange">Change Spongebob</button>
    <button id="styleChange">Change Style</button>
</div>

</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#colorChange").click(function(){
            $("body").toggleClass("changeColor");
            // console.log("colorChange wok");
        });

        $("#styleChange").click(function(){
            $(".accord").toggleClass("comicFont");
        });

        $(".header").click(function(){
            if ($(this).hasClass("active")){
                $(".header").removeClass("active");
            } else {
                $(".header").removeClass("active");
                $(this).addClass("active");
            }
        });

        $(".move-down").click(function(){
            var $el = $(this).parent().parent().parent();

            if ($el.not(':last-child'))
                $el.next().after($el);
        });

        $(".move-up").click(function(){
            var $el = $(this).parent().parent().parent();

            if ($el.not(':first-child'))
                $el.prev().before($el);
        });
    });
</script>
{% endblock %}
