{% extends 'base.html' %}

{% load static %}

{% block title %}
	Auth App
{% endblock %}

{% block body %} 

<div class="container option">
	{% if user.is_authenticated %}
	    <a id="dashboard" href="{% url 'authApp:dashboard' %}" type="button" class="btn btn-outline-primary btn-block">Dashboard</a>
	    <a id="logout" href="{% url 'authApp:logout' %}" type="button" class="btn btn-outline-danger btn-block">Log Out</a>
	{% else %}
	    <a id="login" href="{% url 'authApp:login' %}" type="button" class="btn btn-outline-success btn-block">Log In</a>
	    <a id="signup" href="{% url 'authApp:signup' %}" type="button" class="btn btn-outline-primary btn-block">Sign Up</a>
	{% endif %}
</div>

{% endblock %}

{% block script %} 
{% endblock %}