{% extends 'base.html' %}

{% load static %}

{% block title %}
	Google Book API
{% endblock %}

{% block body %} 
<div class="container" id="hallOfFame" style="margin-top: 20px; margin-bottom: 20px">
    <button onclick="leaderBoard()" type="button" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#leaderBoardModal" id="topLeaderBoard">Top Rated Books</button>
</div>

<!-- The Modal -->
<div class="modal fade" aria-labelledby="writeAMessageModal" aria-hidden="true" id="leaderBoardModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

		  	<!-- Modal Header -->
		  	<div class="modal-header">
		    	<h4 class="modal-title">Top 5 Rated Books</h4>
		  	</div>

		  	<!-- Modal body -->
		  	<div class="modal-body table-responsive">
		    	
		    	<table class="table">
		    		
		    		<thead>
		    			<th scope="col">Name</th>
		    			<th scope="col">Author</th>
		    			<th scope="col">Like</th>
		    		</thead>

		    		<tbody id="leaderboard">
		    			
		    		</tbody>
		    	</table>
		  	</div>

		  	<!-- Modal footer -->
		  	<div class="modal-footer">
		    	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		  	</div>

		</div>
	</div>
</div>

<div class="container" id="SearchDiv">

	<div class="input-group mb-3">

	  <input id="search" type="text" class="form-control" placeholder="Book Title" aria-label="Recipient's username" aria-describedby="button-addon2">

	  <div class="input-group-append">
	    <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
	  </div>
	</div>

	<div class="table-responsive">
	  <table class="table">

	    <thead>
	    	<th scope="col">No</th>
	    	<th scope="col">Image</th>
	    	<th scope="col">Name</th>
	    	<th scope="col">Author</th>
	    	<th scope="col"></th>
	    </thead>

	    <tbody id="results">

		    	<!-- <tr>
		    		<th scope="row">* nomer *</th>
		    		<td><img src="http://books.google.com/books/content?id=Gb460Bxyc5kC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"></td>
		    		<td>* nama *</td>
		    		<td>* author *</td>
		    		<td>
		    			<button type="button" id="id" title="title" author="author" class="likeButton btn btn-sm btn-success ml-3">Like</button>
		    		</td>
		    	</tr> -->
	    </tbody>
	  </table>

	</div>

</div>
{% endblock %}

{% block script %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	var leaderBoard;

     $(document).ready(function(){

     	leaderBoard =  function () {
     		$.ajax({
                url: "{% url "like:leaderboard" %}", 
                dataType: "json",

                success: function(data) {
                    console.log(data); // DEBUG
                    $('#leaderboard').empty();

                    for (i in data.leaderboards) {
                        $('#leaderboard').append(
                            '<tr id="contentModal"><td>' + data.leaderboards[i].title 
					    	+ '</td><td>' + data.leaderboards[i].authors 
					    	+ '</td><td id="likes">' + data.leaderboards[i].likes_count + '</td></tr>'
                        );
                    }                    
                },

                type: 'GET'
            });
     	}

        function bookSearch() {
            var searchValue = $('#search').val();
            console.log(searchValue);

            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes?q=" + searchValue, 
                dataType: "json",

                success: function(data) {
                    console.log(data) // DEBUG
                    for (i = 1; i <= data.items.length; i++) {
                        $('#results').append(
                        	'<tr> <th scope="row">' + i + '</th><td><img src="'
			    			+ data.items[i-1].volumeInfo.imageLinks.smallThumbnail + '""></td><td>'
			    			+ data.items[i-1].volumeInfo.title + '</td><td>'
			    			+ data.items[i-1].volumeInfo.authors + '</td><td>' 
			    			+ '<button type="button" id="'+ data.items[i-1].id +'" title="'+ data.items[i-1].volumeInfo.title 
			    			+'" author="'+ data.items[i-1].volumeInfo.authors 
			    			+'" class="likeButton btn btn-sm btn-success ml-3">Like</button></td></tr>'
			    		);
                   	}
                },

                type: 'GET'
            });
        }

        $("#searchButton").click(function(){
            $('#results').empty();
            bookSearch();
        });        

        function likeBook(id, title, author) {
            $.ajax({
                url: "{% url "like:like" %}", 
                data: { id: id, title: title, authors: author },

                success: function(book) {
                    console.log(book); // DEBUG                    
                    leaderBoard();
                },

                type: 'POST'
            });
        }

        $("#results").click(function(e) {
            if ($(e.target).hasClass("likeButton")){
                console.log("keklik nih buttonnya");
                var id = $(e.target).attr("id");
                var author = $(e.target).attr("author");
                var title = $(e.target).attr("title");

                console.log(id + title + author); // DEBUG
                likeBook(id, title, author);                 
            }                               
        });

    });
</script>

{% endblock %}