{% extends 'base.html' %}

{% load static %}

{% block title %}
	Auth App
{% endblock %}

{% block body %} 

<div class="container dashboard-body">
	{% if user.is_authenticated %}
	    <a id="home" href="{% url 'authApp:index' %}" type="button" class="btn btn-outline-primary btn-block">Home</a>
	    <a id="logout" href="{% url 'authApp:logout' %}" type="button" class="btn btn-outline-danger btn-block">Log Out</a>

	    <blockquote class="blockquote text-center">
		  <p class="mb-0" id="usernameP">Hello {{user.username}}!, welcome to my puny web</p>
		  <footer class="blockquote-footer">Me <cite title="Source Title">Who else :kekw:.</cite></footer>
		</blockquote>
	{% endif %}
</div>

{% endblock %}

{% block script %} 
{% endblock %}