{% extends 'base.html' %}

{% load static %}

{% block title %}
	Auth App
{% endblock %}

{% block body %} 

<div class="container logout-body">

	<blockquote class="blockquote text-center">
	  <p class="mb-0">Logged out! Enjoy your day :)</p>
	  <footer class="blockquote-footer">Me <cite title="Source Title">Who else :kekw:.</cite></footer>
	</blockquote>

	<div class="container login-button">
		<form action="{% url 'authApp:login' %}">
		    <button id="login-button" type="submit" class="btn btn-outline-primary btn-block">Login Page</button>
		</form>
	</div>
</div>

{% endblock %}

{% block script %} 
{% endblock %}