{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	Auth App
{% endblock %}

{% block body %} 

<div class="container signup-body">

	<div class="signup-form">
		<form  action="#" method="POST">
			{%csrf_token%}

			{{form|crispy}}
			<button id="signup-button" type="submit" class="btn btn-outline-success btn-block">Sign Up</button>
		</form>
	</div>

	<div class="container login-button">
		<form action="{% url 'authApp:login' %}">
		    <button id="login-button" type="submit" class="btn btn-outline-primary btn-block">Login Page</button>
		</form>
	</div>
	
</div>

{% endblock %}

{% block script %} 
{% endblock %}