{% extends 'base.html' %}
{% load static %}

{% block title %}QasQus Accord{% endblock %}

{% block body %}
<div class="text-center">
    <div class="wrapper">

        <div class="acc-item 1">
            <div class="acc-header">
                <div class="float-right">
                    <i class="move-up"></i>
                    <i class="move-down"></i>
                </div>
                <div class="title">Aktiviti 1</div>
            </div>
            <div class="acc-body">
                <p>Lorem Ipsum</p>
            </div>
        </div>

        <div class="acc-item 2">
            <div class="acc-header">
                <div class="float-right">
                    <i class="move-up"></i>
                    <i class="move-down"></i>
                </div>
                <div class="title">Aktiviti 2</div>
            </div>
            <div class="acc-body">
                <p>Lorem Ipsum</p>
            </div>
        </div>

        <div class="acc-item 3">
            <div class="acc-header">
                <div class="float-right">
                    <i class="move-up"></i>
                    <i class="move-down"></i>
                </div>
                <div class="title">Aktiviti 3</div>
            </div>
            <div class="acc-body">
                <p>Lorem Ipsum</p>
            </div>
        </div>

        <div class="acc-item 4">
            <div class="acc-header">
                <div class="float-right">
                    <i class="move-up"></i>
                    <i class="move-down"></i>
                </div>
                <div class="title">Aktiviti 4</div>
            </div>
            <div class="acc-body">
                <p>Lorem Ipsum</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $(".acc-header").click(function(){
            if ($(this).hasClass("active")){
                $(".acc-header").removeClass("active");
            } else {
                $(".acc-header").removeClass("active");
                $(this).addClass("active");
            }
        })

        $(".move-down").click(function(){
            $(".acc-header").removeClass("active");
            var $el = $(this).parent().parent().parent();

            if ($el.not(':last-child'))
                $el.next().after($el);
        });

        $(".move-up").click(function(){
            $(".acc-header").removeClass("active");
            var $el = $(this).parent().parent().parent();

            if ($el.not(':first-child'))
                $el.prev().before($el);
        });
    });
</script>
{% endblock %}
